
/*
	STYLE.CSS:
	One stylesheet to rule them all.

	selector { property:value }

*/

@import url(https://fonts.googleapis.com/css?family=Fredericka+the+Great|Lato);

body {
  background-color: #ffffff;
}

.pageContainer {
  width: 940px;
  margin: 20px auto 0 auto;
  padding: 20px;
  background-color: #ffff00;
}

.imageContainer {
  float: right;
  width: 420px;

}

.textContainer {
  float: left;
  width: 300px;
  margin-left: 20;
  margin-top: 20px;

}

img {
  width: 100%;

}

h1 {
  text-align: center;
  font-family: 'Fredericka the Great', cursive;
  font-size: 100px;
  color: #cc0000;
}
h2 {
  text-align: left;
  font-family: 'Fredericka the Great', cursive;
  font-size: 40px;
  color: #cc0000;
}

p, li {
  font-family: 'Fredericka the Great', cursive;
  font-size: 30px;
  color: #cc0000;
}




/* ---- Advanced ---- */
/* This tag is a bit advanced for this lesson,
   but is needed to wrap the pageContainer
   around any sized content that is floated within it. */

.pageContainer:after {
  content: " ";
  display: table;
  clear: both;
}
